html {
	font-size: 12px;
	font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
	font-weight: 300;
	color: white;
}

html,body {
	margin: 0;
	padding: 0;
}

p {
	padding: 0;
	margin: 0;
}

header {
	background-color: rgba(0,0,0,0.9);
	padding: 5px;
}

	header > #encTime {
		float: left;

		font-size: 2rem;
		color: #ffa100;
	}

	header > .encHeader {
		float: left;

		margin-left: 10px;
	}

	header > .overlayMenu {
		float: right;

		font-size: 2rem;
	}

		header > .overlayMenu > a {
			color: white;
			margin: 2px;
		}

div#combatantTables {
	background-color: rgba(0,0,0,0.7);
}

    div#combatantTables table {
        margin-bottom: 1rem;
        width: 100%;
        border-collapse: collapse;
    }
	div#combatantTables table th {
		text-align: left;
	}

    div#combatantTables table tr {
        margin-bottom: 1px;
    }
    /*
    div#combatantTables table .tank {
        background-color: rgba(66, 66, 183, 0.5);
    }
    div#combatantTables table .healer {
        background-color: rgba(66, 183, 66, 0.5);
    }
    div#combatantTables table .dps {
        background-color: rgba(183, 66, 66, 0.5);
    }
        */

    td.longBgBar {
        height: 4px;
    }

.floatClear {
	clear: both;
}